rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir leitura e escrita para todos para contornar problemas de permissão do Google Auth no momento
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
